html {
  @apply font-sans;
}

body {
  overflow-x: hidden;

  &.home,
  &.single {
    .main-wrap {
      margin-top: -7vh;
    }

    .banner {
      @apply absolute;

      top: 0;
      z-index: 1;
    }
  }

  &:not(.home):not(.single) {
    .main-wrap {
      margin-top: 10vh;
    }
  }
}

h1 {
  @apply text-3xlm mb-4;

  @screen lg {
    @apply text-3xl;
  }
}

h2 {
  @apply text-2xlm font-normal;

  @screen lg {
    @apply text-2xl font-bold;
  }
}

h3 {
  @apply text-lg;

  @screen lg {
    @apply text-xl;
  }
}

h4 {
  @apply text-base font-normal;

  @screen lg {
    @apply text-lg;
  }

  &.underline {
    @apply text-blue mb-2;
  }
}

h5 {
  @apply text-2xlm;

  // @screen lg {
  //   @apply text-lg;
  // }
}

h6 {
  @apply text-base font-bold mb-2;
}

p {
  @apply text-regular leading-normal;
}

a {
  @apply text-blue no-underline;

  transition: 0.2s ease;

  // border-b border-blue
}

.container {
  @apply p-0 w-screen max-w-full;
}

.feature {
  @apply bg-blue text-white p-24;

  padding-top: 9rem;

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    @apply pb-2 text-white;

    width: 95%;
  }

  &.project--header,
  &.post--header {
    padding-top: 10rem;
  }
}

.projects {
  @apply flex flex-col pl-0 pb-32;

  list-style-type: none;

  .project {
    @apply pl-24 pb-4 pr-24;

    .project__info {
      @apply grid;

      grid-template-columns: 25% 66% 10%;

      a {
        @apply self-center;

        &.arrow {
          text-align: end;
        }
      }

      @screen lg {
        @apply justify-around;
      }
    }

    &.active {
      @apply bg-blue text-white pt-0 border-white border-t-2 border-b-2;

      h4 {
        @apply text-blue-light;
      }

      a {
        svg {
          @apply text-blue-light fill-current;
        }
      }

      .project__info {
        @apply pt-6 pb-8;
      }
    }

    &:not(.active) {
      @apply pt-4 border-blue border-t-2 border-b-2 text-black;

      a {
        @apply text-black;

        svg {
          @apply text-blue fill-current;
        }
      }

      .project__info {
        @apply pt-8 pb-8;
      }
    }

    .project__active {
      @apply text-right pt-2;
    }

    .info__category {
      @apply flex flex-row self-center pt-2 pb-2;

      img {
        @apply self-center mr-2 w-1/2;

        @screen lg {
          @apply w-1/4;
        }
      }

      h4 {
        display: none;

        @screen lg {
          display: inline-block;
        }
      }
    }

    .info__title {
      @apply flex self-center;

      h3 {
        @screen lg {
          @apply w-4/5 ml-10 mr-10 pl-10;
        }
      }
    }
  }
}

.link-index {
  @apply flex flex-row justify-end text-right pb-4;

  .link-index__text {
    @apply mr-4;
  }
}

.wrapper--projects {
  .link-index {
    @apply pl-24 pr-24;
  }
}

.wrapper--products-sl {
  .products-sl__heading {
    @screen lg {
      @apply pl-24 pr-24;
    }
  }

  .products {
    @apply grid grid-columns-3 grid-gap-9 pl-0 pb-32 pt-2;

    list-style-type: none;

    .product {
      @apply border-grey-light border-t-2 border-b-2 p-8;

      min-height: 25vh;
    }

    .product:nth-child(even) {
      @apply border-l-2 border-r-2;
    }

    .product__img {
      @apply w-1/3;
    }

    .product__info {
      @apply mt-4;

      .title {
        @apply mb-4;
      }
    }
  }
}

