.banner {
  nav {
    @apply list-reset flex flex-wrap flex-row justify-start pt-6 pl-6 pr-6 pb-6;

    .logo {
      @apply w-16 mr-6;
    }

    .menu-main-menu-container {
      @apply flex;

      align-items: center;

      #menu-main-menu {
        @apply relative flex;

        list-style-type: none;

        li {
          @apply mr-4;

          a {
            @apply text-white text-base font-bold uppercase;

            &:hover {
              @apply text-blue-light;
            }
          }
        }

        .sub-menu {
          @apply p-2 absolute bg-blue mt-4;

          opacity: 0;
          list-style-type: none;

          li {
            @apply mb-4;
          }
        }

        .menu-item-has-children {
          // @apply w-1/5;

          &:hover {
            .sub-menu {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

body:not(.home):not(.single) {
  nav {
    @apply bg-blue;
  }
}

