.banner {
  @apply absolute;

  top: 0;
  z-index: 1;

  nav {
    @apply list-reset flex flex-wrap flex-row justify-start pt-6 pl-6 pr-6;

    .logo {
      @apply w-16 mr-6;
    }

    #menu-main-menu {
      list-style-type: none;

      @apply pl-0 text-white flex flex-row;

      li {
        a {
          @apply text-white inline-block px-4 py-2 border-none;

          &:hover {
            color: darken(#525ddc, 30%);
          }
        }
      }
    }
  }
}

