.wrapper--features {
  @apply grid pb-24;

  grid-template-columns: 70% 30%;
}

.links {
  @apply flex flex-row pt-8 pb-8 pl-0;

  li {
    list-style-type: none;

    @apply mr-8;

    // @screen lg {
    //   @apply mb-8 mt-8;
    // }

    a {
      @apply text-white;
    }

    h2 {
      @apply mt-8 mb-8;
    }

    h3 {
      display: inline;
      border-bottom: 2px solid white;

      @apply pb-2 pt-2;
    }
  }
}

.processes {
  @apply grid grid-columns-1 pl-4 pr-4 mt-12 pb-24;

  list-style-type: none;
  justify-items: center;

  @screen lg {
    @apply flex flex-wrap justify-center;
  }

  .process {
    @apply flex flex-row mb-10 w-5/6;

    @screen lg {
      @apply w-1/3 mr-2;
    }

    .process__image {
      position: relative;

      @apply flex flex-none pr-2 pl-2 self-center;

      img {
        z-index: 1;

        @apply w-4/5;

        // @screen lg {
        //   @apply w-1/4;
        // }
      }
    }

    .process__text {
      @apply flex flex-col self-center;

      h5 {
        @apply mb-4;
      }
    }

    .process__image::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: -1rem;
      z-index: -1;
      width: 5.5rem;
      height: 5.5rem;

      @apply bg-blue-light rounded-full;
    }
  }

  .process:nth-child(even) {
    .process__image {
      order: 2;

      @screen lg {
        order: inherit;
      }
    }

    .process__text {
      @apply pl-2;
    }
  }
}

.wrapper--team {
  @screen lg {
    @apply pl-24 pr-24 pb-32 pt-2;
  }

  .team {
    @apply grid grid-columns-1 grid-gap-9 pl-0;

    list-style-type: none;

    @screen lg {
      @apply grid-columns-4;

      justify-items: stretch;
    }

    .team-member {
      @apply p-8 border-grey-light border-t-2 border-b-2;

      a {
        @apply text-black;
      }

      .team-member__img {
        @apply relative;

        img {
          @apply opacity-75;
        }
      }

      .team-member__info {
        @apply mt-4;

        h6 {
          @apply text-blue;
        }
      }

      .team-member__meta {
        @apply flex flex-row justify-start;

        img {
          @apply mr-2;
        }
      }
    }

    .team-member:nth-child(even) {
      @apply border-l-2 border-r-2;
    }

    .team-member:first-child {
      @apply border-l-2;
    }
  }
}

.wrapper--products-sl {
  .products-sl__heading {
    @screen lg {
      @apply pl-24 pr-24;
    }
  }

  .products {
    @apply grid grid-columns-3 grid-gap-9 pl-0 pb-32 pt-2;

    list-style-type: none;

    .product {
      @apply border-grey-light border-t-2 border-b-2 p-8;

      min-height: 25vh;
    }

    .product:nth-child(even) {
      @apply border-l-2 border-r-2;
    }

    .product__img {
      @apply w-1/3;
    }

    .product__info {
      @apply mt-4;

      .title {
        @apply mb-4;
      }
    }
  }
}

.wrapper--feature-slider {
  @apply flex flex-col self-end -ml-28;

  .underline {
    @apply text-right w-5/6;
  }

  button[data-action="stop"],
  button[data-action="start"] {
    display: none;
  }

  .tns-outer {
    @apply border-blue border-2 bg-white w-5/6;
  }

  .slider-projects {
    list-style-type: none;

    @apply pl-0;

    .project-sl {
      @apply pl-16 pr-8 pt-16 pb-16;

      .info__category {
        @apply flex flex-row self-center pb-6;

        .info__img {
          @apply self-center mr-2;

          @screen lg {
            width: 20%;
          }
        }

        h4 {
          @apply self-center;
        }
      }
    }
  }

  .nav-slider {
    @apply w-5/6 text-right relative;

    .dot {
      max-height: 1rem;
      cursor: pointer;

      @apply text-blue-light rounded-full text-3xlm -mt-2;

      &.tns-nav-active {
        @apply text-blue;
      }
    }
  }
}

.wrapper--opportunities {
  @apply grid grid-columns-1 pb-32 pt-2;

  .feature--small {
    @apply flex flex-col self-center -ml-28 bg-white p-8 border-blue border-2 mt-8;

    h3.title {
      @apply mb-4;
    }

    strong {
      @apply text-blue;
    }
  }

  @screen lg {
    grid-template-columns: 70% 30%;
  }

  .opportunities {
    @apply grid grid-columns-1 ml-0 pl-0 bg-blue text-white pt-16 pb-12;

    list-style-type: none;
    align-items: self-start;

    @screen lg {
      @apply grid-gap-8 pl-24 pr-32;
    }

    .opportunity {
      @apply flex flex-row;

      .opportunity__image {
        @apply flex flex-none pr-2 pl-2 self-center;

        img {
          z-index: 1;

          @apply w-3/4;
        }
      }

      .underline {
        @apply text-white;
      }

      .opportunity__text {
        @apply flex flex-col self-center;

        h5 {
          @apply mb-4;
        }
      }
    }
  }
}

.wrapper--svgs {
  @apply relative;
}

.opportunities--svg {
  z-index: -1;
  margin-top: -14rem;

  @apply text-blue fill-current absolute;

  &.rotate {
    transform: rotate(180deg);
    margin-top: -8rem;
  }

  &.stroke {
    &.first {
      margin-top: -14.2rem;
    }

    &.second {
      margin-top: -13.8rem;
    }
  }
}

.wrapper--projects {
  .link-index {
    @apply pl-24 pr-24;
  }
}
