.wrapper--single {
  @apply grid pb-24;

  grid-template-columns: 70% 30%;
}

.project--header {
  .read-more {
    @apply text-white;

    border-bottom: 2px solid white;
  }
}

.project--extra {
  list-style-type: none;

  @apply flex flex-col self-end -ml-28 mb-10 bg-white pt-8 pb-8 pl-8 pr-8 border-blue border-2;

  h3 {
    @apply mb-2;
  }

  .findings {
    @apply mt-1 mb-1;
  }
}

.wrapper--singles {
  .underline {
    @apply pl-24 pr-24 pt-2 pb-2;
  }
}
